.product--title-name {
  font-size: 1.125em;
  letter-spacing: 0.0625em;
  font-weight: bold;
  margin: 0;
}

.product--title-subtitle {
  font-size: 0.75em;
  text-transform: uppercase;
  margin: 0;
}