.product--data {
  div {
    line-height: 1em;
    margin-bottom: 0.5em;
    label {
      font-weight: 500;
      display: block;
      font-size: 0.75em;
      margin: 0;
      color: #ccc;
    }
    span {
      font-size: 0.8125em;
      font-weight: 800;
      color: #050505;
    }
  }
}